body{
  background-color:#d5d0c2;
}

h1.page-title{
  font-size: 70px;
}

hr.team-line{
  border-top: 1px solid black;
}

img.team-image{
  border-radius: 50%;
}

a.enter-site-link{
  text-decoration:none;
  color:black;
}
a.enter-site-link:hover{
  text-decoration:none;
  color:b;
}

/*Navigation Bar Stuff*/
.nav-menu {
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  width:100%;
  overflow: hidden;
}
li.navitem {
  float: left;
  width:25%;
  overflow: hidden;
}
a.navBare{
  padding-top:5%;
  display: block;
  height: 50px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: rgb(51, 51, 51);
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', Arial;
  letter-spacing: 2pt;
  overflow: hidden;
}
a.navBare:hover{
  text-decoration:none;
  background-color: #999967;
  color:white;
}
a.active{
  background-color: #999967;
}
a.active:hover{
  background-color: #999967;
  color:white;
}
