/*GENERAL STYLE*/

div.mobile {
  display:block;
}

div.desktop{
  display:none;
}

@media (min-width: 640px) {
  div.mobile { display: none}
  div.desktop { display: block }
}

#in-between {
  height:0.7em;
}

/*INDEX STYLE*/

.intro-text {
  font-size:1em;
  text-shadow: 1px 1px #000;
}

#who-are-we{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.8)), url("../img/background-images/TeamAbout6.jpg");
  height:50em;
}

#what-are-we-doing{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: url("../img/background-images/MoizMallory.jpg");
  height:50em;
}

#why-does-it-matter{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../img/background-images/cooking.jpg");
  height:50em;
}

#who-are-we-mobile{
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.8)), url("../img/background-images/Team1.jpg") no-repeat center center;
  background-size: 100% 30em;
}

#what-are-we-doing-mobile{
  background: url("../img/background-images/MoizMallory.jpg") no-repeat center center;
  background-size: 100% 30em;
}

#why-does-it-matter-mobile{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../img/background-images/cooking.jpg") no-repeat center center;
  background-size: 100% 30em;
}


/*COMMUNITY STYLE*/
html, body {
height: 100%;
}

#community{
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/unused-images/man.jpg")  no-repeat center center;
  text-shadow: 1px 1px #000;
}

.dateIdentifier {
  color: red;

}

/* Wrapper for page content to push down footer */
#wrap-community {
min-height: 100%;
height: auto;
margin: 0 auto -60px;
padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
height: 60px;
}

#wrapper {
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom:10em;
}

#year {
  width:20%;
  float:left;
  color:white;
  font-size:20px;
  text-align:center;
  padding-left:15%;
}

#event {
  width:80%;
  float:right;
  overflow: hidden;
}


/*FINDINGS STYLE*/

.researchFinding {
  margin-bottom:4em;
}

.researchTitle {
  margin:auto;
}
.findingNumber {
  font-size:5em;
}

.miniFindingTitle {
  font-size:2em;
}
.findingText {
  text-align:center;
}



/*TEAM STYLE*/
a.facultySite {
  color:black;
}

#team-image{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("img/team-back.jpg");
  height:17em;
}

img.team-image{
  filter: brightness(90%);
  max-width: 25%;
  border-radius: 50%;
  cursor:pointer;

}

img.team-image:hover{
  filter: brightness(100%) !important;
}

.hidden-bio-image{
  border-radius:50%;
}

.bio-container{
  display:none;
  background-color:#A9A9A9;
  padding-top:2%;
  padding-bottom:1%
}

/*PRESS STYLE*/
.outerPress{
  display: inline;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.innerPress{
  display: inline-block;
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.press-box{
  width: 15%;
  padding-left:2%;
  padding-bottom:4%;
}
.press-box:hover{
  filter:grayscale(100%);
}
