/*GENERAL STYLE*/

div.mobile {
  display:block;
}

div.desktop{
  display:none;
}

@media (min-width: 640px) {
  div.mobile { display: none}
  div.desktop { display: block }
}

#in-between {
  height:1.6em;
}

/*INDEX STYLE*/

.intro-text {
  font-size:1em;
  text-shadow: 1px 1px #000;
}

#who-are-we{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: url("../img/background-images/TeamAbout3.jpg");
  height:50em;
  text-shadow: 1px 1px #000;
}

#what-are-we-doing{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: url("../img/background-images/MoizMallory.jpg");
  height:50em;
}

#why-does-it-matter{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-image: url("../img/background-images/cooking.jpg");
  height:50em;
}

#who-are-we-mobile{
  background: url("../img/background-images/TeamAbout3.jpg") no-repeat center center;
  background-size: 100% 30em;
}

#what-are-we-doing-mobile{
  background: url("../img/background-images/MoizMallory.jpg") no-repeat center center;
  background-size: 100% 30em;
}

#why-does-it-matter-mobile{
  background: url("../img/background-images/cooking.jpg") no-repeat center center;
  background-size: 100% 30em;
}


/*COMMUNITY STYLE*/
#wrapper {
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
}

#year {
  width:20%;
  float:left;
  color:white;
  font-size:20px;
  text-align:center;
  padding-left:15%;
}

#event {
  width:80%;
  float:right;
  overflow: hidden;
}

li.timeline {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: red;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li.timeline::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: red;
  z-index: -1;
}

li.timeline:first-child::before {
  display: none;
}

.active {
  background: red;
}

.active ~ li.timeline {
  background: white;
}

.active ~ li.timeline::before {
  background: white;
}

/*COLLABORATION STYLE*/
#collab-wrapper {
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
}

#first {
  width: 60%;
  float:left;
  color:white;
  font-size:1.8em;
  text-align:center;
  padding-left:15%;
}

#second {
  width:40%;
  float:right;
  overflow: hidden;
}

.icon-collab {
  color:white;
  border:1px solid #000;
  font-size:8.5em;
}

.collab-people {
  border-radius:50%;
}

.collab-subtitle {
  color:white;
}

/*FINDINGS STYLE*/






/*TEAM STYLE*/
#team-image{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("img/team-back.jpg");
  height:17em;
}

img.team-image{
  filter: brightness(90%);
  max-width: 25%;
  border-radius: 50%;
  padding-left:2%;
  padding-bottom:1%;
}

img.team-image:hover{
  filter: brightness(100%) !important;
}

.hidden-bio-image{
  border-radius:50%;
}

.bio-container{
  display:none;
  background-color:#708090;
  padding-top:2%;
  padding-bottom:1%
}

/*PRESS STYLE*/
.outerPress{
  display: block;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.innerPress{
  display: inline-block;
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.press-box{
  width: 15%;
  padding-left:2%;
  padding-bottom:4%;
}
.press-box:hover{
  filter:grayscale(100%);
}
